@import "nullstyle.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&family=Montserrat:wght@500;600;700&display=swap');

body {
    font-family: Montserrat;
    text-align: center;
    overflow-x: hidden;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    overflow-x: hidden;
    flex-grow: 1;
    flex-shrink: 1;
}

.nav {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    background: #fff;
    padding: 14px 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-weight: 500;
}


.nav-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
}

.brand-name {
    padding: 0 28px 0 0;
    flex: 0 1 199px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.brand-text {
    color: #0C2443;
    font-size: 20px;
    font-weight: 600;
}

.nav-list {
    flex: 0 0 50%;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

#last-item {
    padding: 0 0 0 28px;
    flex: 0 1 145px;
}

.nav-list div {
    margin: 0 auto;
}


.nav-list div:hover, #last-item:hover {
    text-decoration: underline;
}

.nav-list-button {
    display: none;
}

.nav-burger {
    display: none;
}

.header {
    background: url(../img/secondHeaderImg.jpg) center/cover no-repeat;
    padding: 221px 0;
    color: #F0F0F0;
}

.header-content {
    display: flex;
    flex-direction: column;
    gap: 44px;
    align-items: center;
}

.header-title {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.1;
}

.header-subtitle {
    padding: 0 0 37px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.1;
}

.request-button {
    padding: 20px 52px;
    border-radius: 10px;
    background: #F0F0F0;
    color: #0C2443;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
}

.request-button:hover, .request-button:hover a {
    background: rgb(12, 36, 67);
    color: #fff;
}
.request-button:active, .request-button:active a {
    background: rgba(12, 36, 67, 0.9);
    color: #fff;
}

.about {
    padding: 24px 0;
}

.about-content {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
}

.about-body {
    max-width: 560px;
    flex-basis: 460px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    gap: 100px;
}

.title {
    font-size: 30px;
    line-height: 1;
    text-align: left;
}

.blue-title {
    color: #0C2443;
}

.about-text {
    font-size: 16px;
    line-height: 1;
}

.about-image {
    display: inline-flex;
    margin: 0 auto;
}

.about-image img {
    width: 100%;
}


.services {
    padding: 24px 0;
}

.services-title {
    text-align: left;
    padding: 0 30px 24px;
}

.services-body {
    margin-top: 24px;
    border-radius: 25px;
    background: #0C2443;
}

.services-body .container{
    padding: 33px 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.services-item {
    max-width: 425px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 30px;
    text-align: left;
}

.routes {
    background: url(../img/image\ 6.svg) bottom left/contain no-repeat, url(../img/image\ 5.svg) top right/contain no-repeat, #EDEDED;
}

.routes-content {
    height: 786px;
    padding: 75px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../img/routes-map.png) center/62% no-repeat;
}

.routes-title {
    font-size: 20px;
    line-height: 1;
}

.routes-text {
    padding-top: 35px;
    color: #0C2443;
    font-size: 70px;
    font-weight: 700;
    line-height: 1.1;
}

.routes-countries {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 12px;
    font-family: Inter;
    font-weight: 500;
}

.routes-country {
    display: flex;
    align-self: last baseline;
    padding-right: 106px;
    text-align: left;
    gap: 10px;
}

.routes-name {
    flex: 0 0 61px;
}

.routes-country img {
    flex: 1 1 auto;
}

.routes-percent {
    flex: 0 0 26px;
}

.routes-year {
    padding: 20px 106px 0 0;
    text-align: right;
    color: rgba(0, 0, 0, 0.80);
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
}

.goods {
    padding: 24px 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.goods-items {
    padding: 0 100px;
    background: url(../img/goodsIconOne.svg) 0 0/contain no-repeat, url(../img/goodsIconTwo.svg) 100%/contain no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 24px;
}

.goods-item {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.goods-name {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    max-width: 117px;
    text-align: left;
}

.prospects {
    padding: 24px 30px;
    display: flex;
    flex-direction: column;
    gap: 57px;
    text-align: left;
}

.prospects-title {
    font-size: 30px;
    line-height: 1;
}

.prospects-body {
    display: flex;
    justify-content: space-between;
    gap: 65px;
}

.prospects-item {
    max-width: 596px;
    display: flex;
    gap: 24px;
}

#widespreading {
    border: 1px solid #000;
}

.prospects-column {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
}

.prospects-column-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    position: relative;
}

.train {
    background: url(../img/train.jpg) center/cover;
}

.train::before {
    content: '';
    display: block;
    padding-top: 34%;
}

.order {
    background: url(../img/application.jpg) 0 0/cover fixed;
    padding: 40px 0;
}

.order-content {
    margin: 0 0 0 auto;
    background: #fff;
    max-width: 568px;
    border-radius: 20px;
    padding: 42px 34px 34px 35px;
    text-align: left;
}

.order-title {
    padding: 0 0 23px 0;
    font-size: 25px;
}

.order-title span {
    color: #0C2443;
}

.order-subtitle {
    font-size: 16px;
}

#order-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 29px 78px 0 0;
}

.field-wrapper {
    position: relative;
}

.field {
    border-radius: 7px;
    border: 1px solid #969292;
    width: 100%;
    padding: 14px 0 14px 34px;
}

.field:focus {
    border: 1px solid #000;
}


form div {
    display: flex;
    gap: 15px;
}

#goods {
    flex: 1 1 auto;
}

#weight {
    flex: 0 0 95px;
}

textarea {
    height: 153px;
    resize: vertical;
}

.field.request {
    border-color: red;
}

.field-wrapper.request::after, #order-form div p.request::after{
    content: "Заполните это поле";
    color: red;
    font-size: 8px;
    position: absolute;
    bottom: -10px;
    left: 0;
}

#order-form p button {
    margin: 14px 0 0 0;
    padding: 20px 52px;
    border-radius: 10px;
    background: #4F637E;
    cursor:pointer;
    color: #fff;
}

#order-form p button:active {
    opacity: 0.8;
}

.footer {
    font-family: Inter;
    padding: 67px 0 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-wrap: wrap;
    gap: 24px;
}

.footer-title {
    margin: -23px 0 0 0;
    display: flex;
    align-items: center;
    gap: 27px;
    color: #0C2443;
    font-size: 35px;
    font-weight: 600;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-nav div:hover {
    text-decoration: underline;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.contacts-title {
    margin: 0 0 15px 0;
}

.footer-contacts div a:hover {
    text-decoration: underline;
}

@media (max-width: 950px) {

    .nav{
        padding: 0;
    }

    .nav-list {
        position: fixed;
        width: 250px;
        min-height: 100vh;
        background: #fff;
        top: 0;
        left: 100%;
        transform: translateX(0);
        flex-direction: column;
        justify-content: center;
        gap: 19px;
        font-family: Inter;
        font-weight: 500;
        font-size: 21px;
        z-index: 2;
    }
    .nav-list.active {
        transform: translateX(-250px);
    }

    .nav-list-button {
        cursor: pointer;
        display: block;
        position: absolute;
        height: 30px;
        width: 30px;
        top: 30px;
        right: 30px;
    }
    .nav-list-button::after, .nav-list-button::before {
        content: '';
        height: 3px;
        width: 30px;
        background: #000;
        position: absolute;
        top: 15px;
        right: 0;
    }

    .nav-list-button::after {
        transform: rotate(45deg);
    }
    .nav-list-button::before {
        transform: rotate(-45deg);
    }

    #last-item {
        display: none;
    } 
    .brand-name {
        padding: 14px 0;
    }
    .brand-name img {
        height: 40px;
    }
    .brand-text {
        font-size: 18px;
    }
    .nav-burger {
        align-self: center;
        cursor: pointer;
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }
    .nav-burger span {
        position: absolute;
        background: #000;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
    }
    .nav-burger::before,
    .nav-burger::after {
        content: '';
        background: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .nav-burger::before{
        top: 0;
    }
    .nav-burger::after {
        bottom: 0;
    }
        
    .header-title {
        font-size: 54px;
    }
    .header-subtitle {
        font-size: 20px;
    }
    .about-image {
        width: 180px;
    }
    .services-item {
        flex-direction: column;
    }

    .routes-content {
        background-size: 90%, contain, contain;
    }
    .routes-text {
        padding-top: 26px;
        font-size: 48px;
    }
    .goods-item {
        padding: 0 50px;
        min-width: 217px;
        margin: 0 auto;
    }
    .prospects-item {
        flex-wrap: wrap;
    }
}

.base-transition {
    transition-property: transform, opacity;
    transition-duration: 0.6s;
    transition-timing-function: linear;
}

.overlay {
    background: black;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
}

.overlay.active {
    opacity: 0.5;
    pointer-events: all;
}

.notification {
    background: #fff;
    box-shadow: #4F637E 0 0 3px 3px;
    border-radius: 50%;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    top: 25%;
    left: 25%;
    width: 60%;
    height: 60%;
}

.notification-text {
    font-size: 26px;
}

.notification-button {
    padding: 20px 0;
    width: 20%;
    border-radius: 10px;
    background: rgb(12, 36, 67);
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
}

.notification-button:hover, .notification-button:hover a {
    background: rgb(118, 215, 133);
    color: #fff;
}
.notification-button:active, .notification-button:active a {
    background: rgba(12, 36, 67, 0.9);
    color: #fff;
}




@media (max-width: 767px) {
    .header-title {
        font-size: 48px;
    }
    .about-content {
        flex-wrap: wrap-reverse;
        gap: 50px;
    }
    .about-body {
        gap: 40px;
        max-width: none;
    }
    .about-image {
        width: 23%;
    }
    .title {
        text-align: center;
    }
    .services-body .container{
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
    }
    .services-item {
        padding-top: 21px;
        width: 50%;
        flex-basis: 216px;
    }
    .routes-text {
        font-size: 40px;
    }

}


@media (max-width: 670px) {
    .goods {
        padding: 24px;
    }
    .prospects-body {
        flex-wrap: wrap;
    }
}

@media (max-width: 577px) {
    .header-title {
        font-size: 36px;
    }
    .header-subtitle {
        font-size: 18px;
    }
    .request-button {
        padding: 8px 20px;
    }
    .title {
        font-size: 26px;
    }
    .routes-title {
        font-size: 18px;
    }
    .routes-text {
        font-size: 28px;
    }
    .routes-countries-wrapp{
        margin: 0 auto;
    }
    .routes-countries {
        flex: 0 0 297px;
    }
    .routes-country {
        padding: 0;
        display: inline-flex;
    }
    .routes-country img {
        max-width: 190px;
    }
    .routes-year {
        padding-right: 0;
    }
    .goods-items {
        padding: 0;
    }
    .goods-item {
        min-width: 0;
    }
    .goods-item img {
        max-width: 93px;
    }
    .goods-name {
        font-size: 16px;
    }
    .order-content {
        margin: 0;
    }
    #order-form {
        padding-right: 0;
    }
    .order .container {
        padding: 0 15px;
    }
    .order-title {
        font-size: 20px;
    }
    .footer-content {
        flex-direction: column;
        text-align: center;
    }
    .footer-title {
        font-size: 26px;
        margin: 0 auto;
    }
    .footer-title img {
        height: 64px;
    }
}


